config:
  springProfilesActive: prod  
  jpa:
    showSql: "false"  
  management:
    endpointsInclude: "health,prometheus,info,metrics"  
  logging:
    levelRoot: "WARN"
    levelApp: "INFO"
    levelSpringWeb: "WARN"
    levelSpringSecurity: "WARN"